<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRAX App</title>

    <link rel="stylesheet" href="../../public/styles/styles.css" />
</head>
<body>
    <h1>CRAX APP</h1>

    <%- include("../components/card") %>

    <script src="../../public/js/script.js"></script>
</body>
</html>